.encabezado {
	margin-top: 7%;
}
.separador {
	margin-top: 3%;
}

.col-6 {
	display: flex;
}

#noticias {
	display: inline-block;
	margin-top: 3%;
}

#enlace-noticia {
	margin-left: 40%;
}

#ir-arriba {
  position: fixed;
  display: inline-block;
  margin-top: 40%;
  margin-left: 88%;
  background-color: white;
}

li {
	text-align: center;
	list-style-position: inside;
}
